.git
.gitignore
.dockerignore
.env
config.py
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
*.log
.DS_Store
node_modules/
.vs
.vscode
*.swp
*.swo
*~
.idea/
*.sublime-workspace
.vagrant
.vagrant/
Vagrant
Vagrantfile
